#top{
    display: flex;
    align-items: center;
}

#fileInput{
    margin: 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
    width: 300px;
    cursor: pointer;
}

h1,h2{
    margin: 0px 10px;
    color: black;
}

#writeButton{
    margin: 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
    width: 300px;
    cursor: pointer;
}

#selectDay{
    margin: 5px 5px;
    display: none;
}

.radio{
    cursor: pointer;
}

#test{
    display: block;
    margin: 0 10px;
}

#userNameArea{
    display: none;
    align-items: center;
}

#buttons{
    display: none;
    align-items: center;
    margin: 5px 10px;
}

label{
    cursor: pointer;
    margin-right: 5px;
}

#graphArea{
    width: 400px;
    height: 200px;
}

.tableSame{
    border-top-color: transparent;
    color: transparent;
}

.tableUnique{
    border-bottom: none;
}

table{
    border: "1" black;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

tr, th, td{
    border: 1px solid black;
}

#tableArea{
    display: none;
}

#name{
    padding: 0 2px;
    font-size: 30px;
}

#userName{
    padding: 0 2px;
    font-size: 30px;
    font-family: Meiryo;
    font-weight: bold;
    height: 45px;
    width: 300px;
    resize: none;
}

#tableAllArea{
    overflow-y: auto;
    max-height: 60vh;
    border: 1px solid black;
}

#tableAll{
    border-collapse: separate;
    border-spacing: 0;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

#tableALL td{
    border-top: 1px solid black;
    border-right: 1px solid black;
}

#tableAll th{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.complete{
    background-color: lightblue;
}

.progress{
    background-color: lightgoldenrodyellow;
}
